# Môi trường thục thi
NODE_ENV=<NODE_ENV>

# Host của ứng dụng Web
VUE_APP_HOST=<HOST_URL>

# Tên của ứng dụng
VUE_APP_NAME=OOPForLearnee

# API Endpoint của Backend
VUE_APP_API_ENDPOINT=<BACKEND_API_URL>

# ID của Facebook App. Đây là app được sử dụng để tích hợp Facebook Login vào ứng dụng frontend
VUE_APP_FACEBOOK_APP_ID=<FACEBOOK_APP_ID>

# ID của Google App được dùng để tích hợp Google Authentication vào ứng dụng.
VUE_APP_GOOGLE_APP_ID=<GOOGLE_APP_ID>