$primary: #007EA7;
$primary-light: #00A8E8;
$primary-dark: #003459;
$danger: #F32013;
$text: #00171F;
$easing: 0.08s ease-out;

$facebook: #1877f2;
$google: #db4437;


@import "~bulma/sass/utilities/_all.sass";
@import "./custom-variables.scss";

// color system
$new-colors: (
  "primary-light": ($primary-light, $white),
  "primary-dark": ($primary-dark, $white)
);
$colors: mergeColorMaps($new-colors, $colors);

// navbar
$navbar-padding-horizontal: $page-padding-horizontal;
$navbar-box-shadow-size: 0px 7px 29px 0px;
$navbar-box-shadow-color: rgba(100, 100, 111, 0.2);
$navbar-item-active-color: transparent;
$navbar-z: 29;
$sidebar-width: 300px;
$navbar-dropdown-offset: 10px;


// hero
$hero-body-padding: 4rem 6rem;
$hero-body-padding-medium: 1.5rem 3rem;
$hero-body-padding-small: 1.5rem 0.75rem;

// button
$button-padding-vertical: 12px;
$button-padding-horizontal: 20px;
$new-button-colors: (
  "primary-light": ($primary-light, $white),
  "primary-dark": ($primary-dark, $white),
  "facebook": ($facebook, $white),
  "google": ($google, $white)
);
$button-colors: mergeColorMaps($new-button-colors, $colors);

// tag
$tag-radius: 10px;
$new-tag-colors: (
  "primary-light": ($primary-light, $white)
);
$tag-colors: mergeColorMaps($new-tag-colors, $colors);

// input 
$input-focus-box-shadow-size: 0 0 0 0;
// $input-icon-active-color: $text-invert;

// Menu
$menu-list-link-padding: 0.5em 0.75em;
$menu-item-color: rgba(0, 0, 0, 0.7);
$menu-item-hover-background-color: rgb(235, 235, 235);
$menu-item-hover-color: $text;
$menu-item-active-color: $text-invert;
$menu-item-active-background-color: $primary-light;

// Drodown
$dropdown-menu-min-width: 10rem;

// Table
$table-head-background-color: #f5f5f5;
$table-cell-padding: 1rem;
$table-row-active-background-color: rgba($primary-light, 0.2);
$table-row-active-color: $text;

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "./layouts.scss";
@import "./custom-style.scss";
@import "./styles.scss";
