// img

.image.is-coverable {  
  > img {
    height: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.control.is-fullwidth {
  > span.select {
    width: 100%;
    > select {
      width: 100%;
    }    
  }

  > input {
    width: 100%;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

// Modal
.modal.is-content-stickable {
  &.is-full-screen {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    > .modal-content {
      overflow-y: overlay;
    }
  }
}