

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.github-markdown-body {
  --blockquote-border-color: #00A8E8;
  --blockquote-color: rgba(0, 0, 0, 0.6);
  --link-color: #00A8C8;
  --heading-color: rgba(#000, 0.75);
  --text-color: #00171F;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
}


/* [a] */
.github-markdown-body a {
  color: var(--link-color);
  font-weight: bold;
}

.github-markdown-body a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-color);
  color: var(--link-color);
  opacity: 1;
}

/* strong */
.github-markdown-body strong {
  font-weight: 700;
}

/* [p] */
.github-markdown-body p {
  font-size: 1.25em;
  text-align: justify;
}

/* [img] */
.github-markdown-body img {
  margin: auto;
}

/* [heading] */
.github-markdown-body h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0.75em 0;
}

.github-markdown-body h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0.75em 0;
}

.github-markdown-body h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.github-markdown-body h4 {
  font-size: 1.25em;
  font-weight: 500;
}

.github-markdown-body h5 {
  font-size: 1em;
  font-weight: 400;
}

.github-markdown-body h6 {
  font-size: 0.75em;
  font-weight: 400;
}

.github-markdown-body p {
  font-size: 1em;
  text-align: justify;
  margin: 0.5em 0;
  line-height: 1.75rem;
}

.github-markdown-body ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 40px;
}

.github-markdown-body ol {
  list-style-position: outside;
  padding-left: 40px;
}

.github-markdown-body ol li {
  list-style-position: outside;
  padding-left: 0.75rem;
}


.github-markdown-body li {
  line-height: 1.75rem;
}

/* [blockquote] */

/* .github-markdown-body blockquote {
  margin: 1.5em 0;
  padding: 0 1.5em;
  color: var(--blockquote-color);
  border-left: 0.25em solid var(--blockquote-border-color);
  position: relative;
  width: fit-content;
}

.github-markdown-body blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.5em;
  font-size: 2em;
  content: "\201F";
  color: inherit;
}

.github-markdown-body blockquote::after {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0.5em;
  font-size: 2em;
  content: "\201D";
  color: inherit;
}

.github-markdown-body blockquote p {
  color: inherit;
  margin-left: 0.5em;
  width: fit-content;
}
 */

